:root {
    --bg: white;
    --textColor: black;
    --softbg: #f0f0f0;
    --sofTextColor: #626262
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    max-width: 100vw;
    overflow-x: hidden;

}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--textColor);
}

.wrapper {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-left: 80px;
    padding-right: 80px;

}

@media screen and (max-width: 1536px) {
    .wrapper {
        max-width: 1366px;
    }
}

@media screen and (max-width: 1288px) {
    .wrapper {
        max-width: 1824px;
    }
}

@media screen and (max-width: 1824px) {
    .wrapper {
        max-width: 768px;
        padding-left: 48x;
        padding-right: 48px;
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        max-width: 648px;
    }
}

@media screen and (max-width: 640px) {
    .wrapper {
        max-width: 475px;
    }
}